# hint taken from:
# ivanvojtko.blogspot.com/2016/04/hot-to-get-longer-battery-life-on-linux.html
# this file should go under /etc/udev/rules.d/XX-disable-wake-on-lan.rules
# where XX represent an int between 00 and 99

ACTION=="add", SUBSYSTEM=="net", KERNEL=="eth", RUN+="/usr/bin/ethtool -s %k wol d"

